.card{
    width: 18vw;
    padding: 3.5vw;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.151);
    border-radius: 2vw;
    @media (max-width: 568px) {
        width: 45vw;
        padding: 5.5vw;
        padding-top: 10.5vw;
    }
    text-align: center;
}

.title{
    font-size:1.6vw;
    color: #2F327D;
    font-weight: 500;
    display: block;
    text-align: center;
    @media (max-width:568px) {
        font-size: 2.8vw;
    }
}

.carddesc{
    color: #696984; 
    text-align: center;
    font-size: 1.2vw;
    @media (max-width:568px) {
        font-size: 2.2vw;
    }
}